/* color theme used for site */

.color-theme-site {
    background-color: #004466;
    background-color: #016699;
    background-color: #5bb7d4;
    background-color: #e4e5e6;
    background-color: #ff2105;
}

