.contact-image{
    width: 100%;
    margin: auto;
    display: block;
}

.align{
    transform: translate(0%, 0%);
}

.contact-center{
    text-align: center;
}

.credit-container{
    position: relative;
}

.credit-photo{
    float: bottom;
    font-size: 10px;
    position: absolute;
    bottom: 0;
}

.image-background-contact{
    background-image: url("./images/contact.jpg");
    width: 50%;
    height: auto;
    background-size: 50;
}

.text-contact{
    background-color: #e4e5e685;
    text-align: center;
}

.text-contact-container{
    width: 70%;
    background-image: url("./images/contact.jpg");
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    background-size: 100%;
    font-size: 40px;
}

