.background-image-app{
    background-image: url("./images/LA.jpg");
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -99999999999999999;
}

.block{
    margin: 15px;
    background-color: #01669942;
    border-radius: 10px;
}
  
.bottom-block{
    background-color: #e4e5e6;
}

.center{
    text-align: center;
    display: block;
    font-size: 20px;
    font-family: "Playfair Display";
    color: #e4e5e6;   
}

.description {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: "Playfair Display";
    color: #004466;
}

.text-block{
    background-color: #004466;
    margin: auto;   
}

.home-screen{
    height: 100vh;
    background-color: #004466;
}

.map-a-tag{
    z-index: 999999;
    display: block;
    margin: auto;
    width: 50%;
}

.map-block{
    margin: auto;
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}

.map-container{
    text-align: center;
}

.map-tag-container{
    position: relative;
}

.pic-block{
    /* height: 60vh; */
    padding-top: 100px;
    background-color: #e4e5e6;
}

.under-header{
    position: absolute;
}